@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-gray: hsl(0, 0%, 59%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.App {
  text-align: center;
  background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
  background-position: right 52vw bottom 34.5vh, left 48vw top 52vh;
  background-repeat: no-repeat no-repeat;
  background-color: var(--dark-cyan);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.profileCard {
  position: absolute;
  background-color: white;
  width: 80%;
  max-width: 350px;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.profileBanner {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePicture {
  position: absolute;
  bottom: -40%;
  border-radius: 50%;
}

.profilePicture img {
  border-radius: 50%;
  border: 5px solid white;
}

.userInfo {
  border-bottom: 1px solid hsl(0, 0%, 88%);
  padding: 4rem 0 1.2rem 0;
}

.nameAge {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .25rem;
}

.nameAge h4, p {
  margin: 0 .5rem;
}

.nameAge h4 {
  font-size: 1.1  rem;
}

.nameAge p {
  color: var(--dark-gray);
  font-weight: 400;
  margin: .5rem 0;
}

.city {
  font-size: .9rem;
  color: var(--dark-gray)
}

.userStats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.5rem 0 1rem 0;
}

.userStats h5 {
  font-size: 1.1rem;
}

.userStats h6 {
  margin: .5rem;
  color: var(--dark-gray);
  font-size:0.7rem;
  font-weight: 400;
}